*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}
#titulo{
    color:dodgerblue;
    font-family: Arial;
    text-align: center;
    margin-top: 25px;
}
#voltar{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: lighter;
    font-size: 12pt;
    font-family: "verdana";
    position: fixed;  
    top: 25px;
    left: 10px;
}
form{
    background-color: #fff;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 40px;
    padding: 50px 10px ;
    text-align: center;
}
#welcome{
    font-family: "Arial";
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: 20px;
}
label{
    display: block;
    text-align: left;
    font-family: "arial";
    font-size: 14pt;
    font-weight: bold;
}

input[type=email],input[type=password],[type=name]{
    width: 95%;
    padding: 10px;
    border:0;
    border-radius: 40px;
    margin-bottom: 15px;
    background-color: #eee;
    outline-color: aliceblue;
}
#contrato{
    width: 95%;
    display: flex;
}
#contrato span:nth-of-type(2){
    font-family: "arial";
    font-size: 10pt;
    /* width: 60%; */
    text-align: right;
    color: blue;

}
#contrato span:nth-of-type(1){
    font-family: "arial";
    font-size: 10pt;
    width: 30%;
}
input[type=button]{
    width: 95%;
    background-color: dodgerblue;
    color: #fff;
    border: 0;
    border-radius: 40px;
    font-size: 15pt;
    padding: 20px;
    margin-top:30px ;
}
form p{
    font-family: "arial";
    font-size: 10pt;
    color: gray;
    margin-top: 20px;
}
#welcome{
    margin-top: 0;
    margin-bottom: 25px;
}
#redes img{
    width: 30px;
    height: 30px;
}
#redes{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
#redes div{
    background-color: lightgray;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}