/* Retirar toadas as margens de todos os elementos */
*{
    margin: 0; /* Margem externa*/
    padding: 0; /* Margem Interna */
    box-sizing: border-box;
}
body{
    background-image: url("../img/tela1.jpg");
    background-size: 100%;
    background-position: 0 -100px;
    color: #fff;
    font-family: Arial;
    margin:15px;
}
h1{
    font-size: 15pt;
}
h2{
    margin-top: 100px;
    font-size: 34pt;
}
/* Vamos fixar o rodape na parte inferior da tela .
Utilizamos a posição fixa de margem de base(bottom) próxima a zero(0) */
#rodape{
    position: fixed;
    bottom: 0%;
    display: flex;
}
#avancar{
    display: flex;
    width: 250px;
    background-color: #162535;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #3a4556;
    margin-left: 20px;
    padding-right:  20px; 
    font-family: Tahoma ;
}

#voltar{
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex; /* permite que os elementos do dessa div possom se mexer*/
    justify-content: center;/* faz com que o conteudo fique meio do elemento?*/
    align-items: center;/**/
}
#avancar #play{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid;
    border-radius: 50%;
    color: #3a4556;
    display: flex;
    justify-content: center;
    align-items: center;

}
